body{
  margin: 0;
}

#showcase{
  background-image: url('../img/background2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 0 20px
}

#showcase h1{
  font-size: 40px;
  color: white;
  line-height: 1.9;
}
#showcase p{
  font-size: 10px;
  color: white;
  line-height: 0.5;
}

.fix{
  position:absolute;
  bottom: 30px;
  left: 50%
}

#section-a h1{
  text-align: center;
}

#section-a p{
  text-align: center;
}

#section-b{
  background-image: url('../img/background3.jpg');
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#section-b h1{
  text-align: center;
  color: white;
  line-height: 2.0;
}

#section-b p{
  text-align: center;
  line-height: 2.0;
  color: white;
}

#section-c h1{
  text-align: center;
}
.dev{
  text-align: center;
}
.des{
  text-align: center;
}
.proj{
  text-align: center;
}
#section-d h1{
  text-align: center;
  font-size: 50px;
}
