body{
  margin: 0;
}

#showcase{
  background-image: url('../img/background2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 0 20px
}

#showcase h1{
  font-size: 40px;
  color: white;
}
#showcase p{
  font-size: 10px;
  color: white;
}

.fix{
  position: fixed;
  bottom: 30px;
  left: 50%
}
